<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/Images/fav.ico" rel="icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("css", required: false)
    </head>
    <body>
        <div id="header">
            <div class="title">
                <img src="../../Images/Master/logo.png" alt="Review" class="logo" />
                <span class="site-title">@Html.ActionLink("Review", "Index", "Home", null, new {@class="site-title-link" })</span>
                <div class="FloatRight">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div id="body">
            <section class="clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>

        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
