@model MyR.Models.PasswordRecoveryModel

@{
    ViewBag.Title = "Password Recovery";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
@Html.Partial("ModelStateErrorPartial")
@if (!string.IsNullOrEmpty(Model.NoticeMessage))
{
    <div class="notice_message">
        @Html.DisplayFor(m => m.NoticeMessage)
    </div>
}
@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Password Recovery</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserEmail)
                @if (string.IsNullOrEmpty(Model.Question))
                {
                    @Html.TextBoxFor(m => m.UserEmail, new { autocomplete = "off" });
                }
                else
                {
                    @Html.HiddenFor(m => m.UserEmail); 
                    @Html.DisplayFor(m => m.UserEmail);
                }
            </li>
            @if (!string.IsNullOrEmpty(Model.Question))
            { 
            <li>
                @Html.LabelFor(m => m.Question)
                @Html.HiddenFor(m => m.Question)
                @Html.DisplayFor(m => m.Question)
            </li>
            <li>
                @Html.LabelFor(m => m.Answer)
                @Html.TextBoxFor(m => m.Answer, new { autocomplete = "off" })
            </li>    
            }
            <li class="buttons">
                <input type="submit" value="@Model.ButtonText" />        
            </li>
        </ol>
    </fieldset>
}