@model MyR.Models.PasswordRecovery2Model

@{
    ViewBag.Title = "Password Recovery";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h3>Change Password</h3>
</hgroup>


@if (ViewBag.TokenUser != null)
{
     <div class="notice_message">
        Password Requirement: Password has to be an alpha-numeric string with minimum length of @MyR.Constants.SystemConstants.PasswordLength.ToString().
    </div>
    using (Html.BeginForm())
    { 
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Change Password</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
                <li class="buttons">
                    <input type="submit" value="Change Password" />        
                </li>
            </ol>
        </fieldset>
    }
}
else
{
    @Html.Partial("ModelStateErrorPartial") 
}